<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
</head>
<body>
<div class="wrap flex-c fs-small">
    <span class="title fs-title fw-bolder"><%= title %></span>
    <span class="line"><%= line1 %></span>
    <span class="line"><%= line2 %></span>
    <span class="line"><%= line3 %></span>
    <p class="links"><a href="http://www.changeden.net">进入官网</a><a href="/version_manager">Apk版本管理系统</a></p>
</div>
</body>
<script src="/javascripts/libs/footer.js"></script>
</html>
